<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <!-- <%= form.label :user_id %> -->
    <label for="post_user_id">User ID</label>
    <!-- <%= form.text_field :user_id %> -->
    <input type="hidden" name="post[user_id]" id="post_user_id" value="<%= current_user.id %>">
  </div>

  <div class="field">
    <!-- <%= form.label :author %> -->
    <label for="post_author">Username</label>
    <!-- <%= form.text_field :author %> -->
    <input type="hidden" name="post[author]" id="post_author" value="<%= current_user.email.split('@')[0].capitalize %>">
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
