<div class="page-container">
  <% render 'layouts/navigation' %>
  <h1>Posts</h1>
  <div class="content-container">
    <% @posts.reverse.each do |post| %>
    <div class="post-container">
      <!-- NAVBAR -->
      <nav class="navbar post-nav navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <h6 class="user-post">
              <div><img class="avatar" src="https://images.unsplash.com/photo-1541534401786-2077eed87a74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt=""></div>
            </h6>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Report</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Unfollow</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/posts/<%= post.id %>">Go to post</a>
              </li>
              <li>
                <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/posts/<%= post.id %>"><i class="far fa-trash-alt"></i></a>
              </li>
              
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Share to...</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Copy link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Embed</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#">Cancel</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- NAVBAR -->

      <!-- IMAGE -->
      <div class="post-image">
        <%= image_tag post.image %>
      </div>
      <!-- IMAGE -->

      <!-- POST BUTTONS -->
      <div class="post-btns">
        <div class="left-btns">
          <p><i class="far fa-heart"></i></p>
          <p><i class="far fa-comment"></i></p>
          <p><i class="far fa-paper-plane"></i></p>
        </div>
        <div class="right-btns">
          <p><i class="far fa-bookmark"></i></p>
        </div>
      </div>
      <!-- POST BUTTONS -->
      <!-- NUMBER OF LIKES -->
      <div class="likes-count">
        <p>10,000 likes</p>
      </div>
      <!-- NUMBER OF LIKES -->
      <!-- POST -->
      <%= post.id %>
      <div class="post-message">
        <p><span>UserName</span><%= post.message %></p>
      </div>
      <!-- POST -->
      <!-- COMMENT COUNTER AND VIEW -->
      <% if post.comments.count > 0 %>
        <div class="comment-counter">
          <p>View all <%= post.comments.count %> Comments</p>
        </div>
      <% end %>
      <!-- COMMENT COUNTER AND VIEW -->
      <!-- COMMENTS BLOCK -->
      <% if post.comments.count > 0 %>
          <% post.comments.reverse[0..2].each do |comment| %>
            <div class="single-comment-area">
              <div class="comment">
                <p><span>Username</span><%= comment.body %></p>
              </div>
              <div class="comment-like">
                <p><i class="far fa-heart"></i></p>
              </div>
            </div>
          <% end %>
        <% end %>
        <!-- COMMENTS BLOCK -->
        <!-- CREATED AT -->
        <div class="created-at">
          <p> <%= time_ago_in_words(post.created_at) %> ago</p>
        </div>
        <!-- CREATED AT -->
        <!-- COMMENT FORM -->
        <%= form_for([post, post.comments.build]) do |f| %>
          <button><i class="far fa-smile"></i></button>
          <textarea name="comment[body]" id="comment_body" placeholder="Add a comment..."></textarea>
          <input type="submit" name="commit" value="Post" data-disable-with="Post">
        <% end %>
        <!-- COMMENT FORM -->
    </div>
    <% end %>
  </div>
</div>
    

<%= link_to 'New Post', new_post_path %>


